.streamlit-container {
    background-color: #f0f0f0;
}

.st-emotion-cache-16txtl3 {
    padding: 6rem 1.5rem;
    background-color: #fff;
}

.sidebar .sidebar-content {
    background-color: #f0f0f0;
}

.sidebar .sidebar-collapse-control {
    color: #343434;
}

body,
.stApp {
    background-color: #f0f0f0;
}

.st-emotion-cache-1avcm0n {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2.875rem;
    background: #343434;
    outline: none;
    z-index: 999990;
    display: block;
}

.st-emotion-cache-1erivf3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    background-color: #343434;
    border-radius: 0.5rem;
    color: rgb(250, 250, 250);
}


/* Стили для заголовков */

h1,
h2,
h3 {
    color: #343434;
}


/* Стили для текста */

p,
span {
    color: #343434;
}


/* Стили для ссылок */

a {
    color: #343434;
}


/* Стили для кнопок */

button {
    background-color: #ffffff;
    color: #254B8D;
}

button:hover {
    background-color: #f0f0f0;
}


/* Стили для полей ввода */

input[type="text"],
input[type="number"],
textarea {
    background-color: #ffffff;
    color: #254B8D;
}